@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    font-family: 'Roboto', 'Tachoma', sans-serif;
    font-weight: 900;
    margin: 0;
    background-color:#7b6181;
}

.color-border {
    width: 700px;
    height: 500px;
    cursor: pointer;
    box-shadow: 
            -15px -15px 2px -5px rgba(231, 28, 130, 0.7),
            -15px 15px 2px -5px rgba(102, 0, 255, 0.7),
            15px -15px 2px -5px rgba(255, 232, 102, 0.7),
            15px 15px 2px -5px rgba(0, 170, 255, 0.7);         
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-happiness {
    text-transform: uppercase;
    text-align: left;
    font-size: 84px;
    color: rgb(231, 28, 130);
    text-shadow: 
            0 2px 0px #6b143b,
            0 3px 2px rgba(83, 3, 43, 0.5),
            0 6px 0 #ff0000,
            0 8px 2px rgba(44, 1, 1, 0.5),
            0 12px 0 #ffae32,
            0 16px 2px rgba(39, 13, 1, 0.5),
            0 24px 0 #fdfe02,
            0 26px 2px rgba(39, 29, 2, 0.5),
            0 36px 0 #adff00,
            0 38px 2px rgba(32, 39, 2, 0.5),
            0 48px 0 #00ff83,
            0 50px 2px rgba(3, 56, 10, 0.5);
    transition-duration: 1s;
}

.color-border:hover .color-happiness {
    text-shadow: 
                0 2px 0px rgba(255, 174, 50, 0.5),
                0 6px 0 rgba(173, 255, 0, 0.5),
                0 12px 0 rgba(253, 254, 2, 0.5),
                0 24px 0 rgba(0, 255, 131, 0.5),
                0 48px 0 rgba(231, 28, 130, 0.4),
                0 36px 0 rgba(255, 0, 0, 0.3);
}

